* {
    margin: 0;
    padding: 0;
}

.container {
    width: 350px;
    border: 2px solid gray;
    background-color: rgba(179, 179, 179, 0.607);
    border-radius: 10px;
    justify-content: center;
    display: flex;
    gap: 20px;
    margin: 20px 0;
}

.consolelog {
    border: 2px solid red;
    background-color: rgba(255, 64, 64, 0.63);
    border-radius: 18px;
    width: 100px;
    height: 70px;
    margin: 20px 0;
    padding: 20px;
    text-align: center;
}